# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
sort

# Temp. files saved by editors
*.*~

# CMake stuff
Makefile
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake

# All build files
build/*
*.pcm
macros/*ACLiC*

# Data files
*.root

# Images
*.eps
*.png
*.jpg
*.jpeg
*.gif

# Other
.nfs000000020155f23a000006cd
