outputDir = /mnt/analysis/e25001/rootout/
dataDir = /mnt/rawdata/e25001/root/
runNumbersFile = ../config/runnumbers/numbers.custom
itreeName = t
hinpBranchName = SpecTcl_hinpa_mb1
adcBranchName = SpecTcl_adc1
qdcBranchName = SpecTcl_qdc1
tdcBranchName = SpecTcl_tdc
ofileName = sort.root
otreeName = tpar
configDir = ../config/
lossDir = ../LossFiles/
PIDDir = ../zline/
targetSuffix = Be
calDir = ../Cal/
frontEcalFile = FrontEcal_saveMay11.dat
backEcalFile = BackEcal_saveMay12.dat
deltaEcalFile = DeltaEcal_saveMarch17.dat
CsIEcalFile = CsIEcal_p.dat
CsIEdcalFile = CsIEdcal_none.dat
CsIEtcalFile = CsIEtcal_none.dat
CsIEalphacalFile = CsIEalphacal_none.dat
diamondEcalFile = DiamondEcal_saveMarch17.dat
frontTimecalFile = FrontTimecal.dat
backTimecalFile = BackTimecal.dat
deltaTimecalFile = DeltaTimecal.dat
CsITimecalFile = CsITimecal_none.dat
CsIStripExtentsFile = CsIStripExtents.dat
CsIChannelMapFile = CsIChannelMap.dat
targdist = 34
targthick = 185
alThick = 1025.62
updateRate = 10000
hinpboards = 8
hinpchans = 32
gobbiHoleSize = 25
