tnlibConfig = tnlib.config
runNumbersFile = ../config/runnumbers/numbers.custom
itreeName = t
adcBranchName = SpecTcl_adc1
qdcBranchName = SpecTcl_qdc1
ofileName = sort.root
otreeName = tpar
configDir = ../config/
lossDir = ../LossFiles/
PIDDir = ../zline/
targetSuffix = Be
calDir = ../Cal/
frontEcalFile = FrontEcal_saveMay11.dat
backEcalFile = BackEcal_saveMay12.dat
deltaEcalFile = DeltaEcal_saveMarch17.dat
CsIEcalFile = CsIEcal_none.dat
diamondEcalFile = DiamondEcal_saveMarch17.dat
frontTimecalFile = FrontTimecal.dat
backTimecalFile = BackTimecal.dat
deltaTimecalFile = DeltaTimecal.dat
CsITimecalFile = CsITimecal_none.dat
CsIStripExtentsFile = CsIStripExtents.dat
CsIChannelMapFile = CsIChannelMap.dat
targdist = 34
targthick = 185
updateRate = 10000
hinpboards = 8
hinpchans = 32
gobbiHoleSize = 25
