outputDir = /data4/N9/mnt/analysis/e25001/rootout/
dataDir = /data4/N9/events/e25001/root/
runNumbersFile = ../config/runnumbers/numbers.custom
itreeName = t
hinpBranchName = SpecTcl_hinpa_mb1
adcBranchName = SpecTcl_adc1
qdcBranchName = SpecTcl_qdc1
tdcBranchName = SpecTcl_tdc
ofileName = sort.root
otreeName = tpar
configDir = ../config/
lossDir = ../LossFiles/
PIDDir = ../zline/
targetSuffix = Be
calDir = ../Cal/
frontEcalFile = FrontEcal_saveMay11.dat
backEcalFile = BackEcal_saveMay12.dat
deltaEcalFile = DeltaEcal_saveMarch17.dat
CsIEcalFile = CsIEcal_p.dat
CsIEdcalFile = CsIEcal_none.dat
CsIEtcalFile = CsIEcal_none.dat
CsIEalphacalFile = CsIEcal_a.dat
diamondEcalFile = DiamondEcal_saveMarch17.dat
frontTimecalFile = FrontTimecal.dat
backTimecalFile = BackTimecal.dat
deltaTimecalFile = DeltaTimecal.dat
CsITimecalFile = CsITimecal.dat
CsIStripExtentsFile = CsIStripExtents.dat
CsIChannelMapFile = CsIChannelMap.dat
targdist = 34
targthick = 188
alThick = 1025.62
updateRate = 1000
hinpboards = 8
hinpchans = 32
gobbiHoleSize = 25
